.area-do-cliente {
    display: block;
    align-content: center;
    height: auto;
    background: #efefef;
}

.area-do-cliente--titulo {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 2.5rem;
    text-align: center;
    padding: 80px 0 20px;
    text-transform: uppercase;
    font-weight: bold;

}

.area-do-cliente__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 15px;
}

.area-do-cliente__cards__conteudo {
    background: #0388A6;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 410px;
    color: honeydew;
    margin: 20px 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.3);
    transition: .2s;
}

.area-do-cliente__cards__conteudo:hover {
    background: #005163;
    box-shadow: none;
    transition: .2s;
}

.area-do-cliente__cards__conteudo div {
    margin: 0 30px;
}

.area-do-cliente__cards__conteudo div p:nth-child(1) {
    font-size: 2rem;
    font-weight: bold;
}

.area-do-cliente__cards__conteudo div p:nth-child(2) {
    font-size: 1.5rem;
    font-weight: lighter;
}

/* CSS dos icones
 */
.fa-file-invoice,
.fa-user {
    font-size: 5rem;
}

.fa-caret-right {
    font-size: 4rem;
}

.area-do-cliente__cards__conteudo:hover {
    top: 10px;
}