.informacoes{
    background-image: linear-gradient(#0388A6, #005163);
    height: calc(95vh);
    color: cornsilk;
    display: flex;
    justify-content: space-around;
    align-items: center;
}




/* flex-grow: 1; */