.nossos-planos--container{
    display: flex;
    justify-content: center;
    max-width: 1440px;
    flex-wrap: wrap;
    margin: 80px 0;
}

.nossos-planos__titulo {
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-top: 100px;
    gap: 10px;
}

.nossos-planos__titulo h1{
    width: auto;
}

.nossos-planos__frase {
    text-align: center;
    font-size: 1rem;
    color: gray;
}

.nossos-planos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: url(/img/bkg-planos.jpeg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}


.nossos-planos__card {
    background-color: #fbfbfb;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 500px;
    width: 300px;
    border-radius: 5px;
    margin: 15px;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: .5s;

}

.nossos-planos__card:hover {
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.2);


    transition: .4s;
}

.nossos-planos__card--3:hover {
    box-shadow: 2px 2px 4px 3px rgba(255, 215, 0);
    transition: .4s;
}

.nossos-planos__card__conteudo {
    height: 100%;
    margin: 20px;
}

.nossos-planos__card__conteudo--valor p:nth-child(1) {
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    margin: 20px 0;
    font-size: 1.5rem;
}

.nossos-planos__card__conteudo--valor p:nth-child(2) {
    text-align: center;
    font-weight: 200;
    text-transform: uppercase;
    z-index: 2;
}

.nossos-planos__card__conteudo--mega {
    border-bottom: 1px solid goldenrod;
    padding-bottom: 10px;

}

.nossos-planos__card__conteudo--mega p {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 5px;
}

.nossos-planos__card__conteudo--mega h2 {
    font-size: 3rem;
    font-weight: 900;
}

.nossos-planos__card__conteudo--mais-vendido {
    position: relative;
    align-content: flex-start;
    width: 10px;
    left: 200px;
    bottom: 165px;
    height: 0;
}

.nossos-planos__card__conteudo--mais-vendido img {
    height: 120px;
 }

.nossos-planos__card__conteudo--instalacao {
    text-align: center;
    padding-bottom: 10px;
    margin: 40px 0;
}

.nossos-planos__card__conteudo--instalacao p:nth-child(1) {
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    margin: 20px 0;
    font-size: 1.3rem;
    margin: 20px 0;
}

.nossos-planos__card__conteudo--instalacao p:nth-child(2) {
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 0.9rem;
    margin: 0;
}

.nossos-planos__card__conteudo--valor {
    display: flex;
    justify-content: center;
    margin: none;
}

.nossos-planos__card__conteudo--valor p:nth-child(odd) {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;

}

.nossos-planos__card__conteudo--valor p:nth-child(2) {
    font-size: 3rem;
    font-weight: 300;
    margin: 0;
}


.nossos-planos__card__conteudo--botao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 5px;
    color: #fff;
}

.nossos-planos__card__conteudo--botao a {

    background-color: #005163;
    padding: 15px 25px;
    border-radius: 5px;
    color: var(--axul-marinho);
    margin-bottom: 30px;
    text-decoration: none;
    font-size: 1.4rem;
    transition: .3s;
}

.nossos-planos__card__conteudo--botao a:hover {

    box-shadow: 0px 0px 2px 2px #0388A6;
    transition: .3s;
}
.nossos-planos__card__conteudo--botao-mais-vendido a:hover{
    background-color: gold;
    color: #005163;
}

.nossos-planos__card__conteudo--botao-mais-vendido a:hover {

    box-shadow: 0px 0px 2px 2px gold;
    transition: .3s;
}

@media screen and (max-width: 1024px){
    .nossos-planos__card {
        margin: 50px;
    }

    .nossos-planos__titulo{
        flex-direction: column;
    }
}