:root {
    font-family: 'CocoSharp', sans-serif;

    --laranja-escuro: #FF6800;
    --laranja-claro: #FFC000;
    --azul-marinho: #00193C;
    --azul-bebe:#C8E1FF;
    --cinza: #909E9E;
    --branco: #fff;
}

@font-face {
    font-family: CocoSharp;
    src: url(/fonts/Coco_Sharp/CocoSharpL-Regular.otf);
}

header{
    background-image: url("/img/banner3.png");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;  
    height: 100vh;
}
