
.fa-thumbs-up{
    font-size: 3rem;
    margin: 5px;
}

.vantagens{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.vantagens__texto{
  
    text-align: center;
    padding: 100px 0 50px;
    background-image: linear-gradient(#efefef, #fff);
}

.vantagens__texto h1{
    font-size: 2.5rem;
    text-transform: uppercase;
    align-content: center;
    font-weight: bold;
}

.vantagens__texto p{
    font-size: 1rem;
    color: gray;
}

.vantagens__conheca{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: space-around;
    align-items: stretch;
}

.vantagens__conheca--flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1440px;
}

.vantagens__conheca__card{
    color: #0388A6;
    width: 380px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
}

.vantagens__conheca__card h2{
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
}

/* icones */
.fa-wifi,
.fa-headset,
.fa-rocket {
    height: 60px;
    margin-bottom: 15px;
}